@import "bootstrap";

@font-face {
  font-family: 'Marck Script', cursive;
  src: url("https://fonts.googleapis.com/css?family=Marck+Script");
}

@font-face {
  font-family: 'Satisfy', cursive;
  src: url("https://fonts.googleapis.com/css?family=Satisfy");
}

body {
  font-family: 'Satisfy', cursive;
}

button, select, html, textarea, input {
  font-family: 'Satisfy', cursive;
}

.bg {
  background: url("boba-background.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.font-bold {
  font-weight: bold;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
  font-weight: normal;
}

.hm-gradient .full-bg-img {
  background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
  background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

.card {
  background-color: rgba(229, 228, 255, 0.2);
}

.md-form .prefix {
  font-size: 2rem;
  margin-top: 2rem;
}
.md-form label {
  font-weight: normal;
}

h4
{
  font-family: 'Marck Script', cursive;
}

h5 {
  font-family: 'Marck Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

h6 {
  font-family: 'Marck Script', cursive;
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}

.container-reg {
  display: block;
  position: relative;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

td {
  width: 160px;
}
