<div class="container-reg flex-center">
  <div class="flex align-items-center">

      <div class="text-center">
        <div class="white-text">
          <h1 class="h1 font-bold">About Us</h1>
          <h6>You're just one click away from meeting the boba of your life.</h6>
          <br>
        </div>
      </div>

      <div class="container-reg">
        <!--Form-->
        <div class="card">
          <div class="card-body">
            <!--Header-->
            <!-- <div class="text-center"  style='padding-top: 10px;'>
              <h3 class="font-bold">About Us</h3>
              <hr class="hr-light">
            </div> -->

            <!--Body-->

            <div class="md-form form-vertical col">
              <div class="text-center"  style='padding-top: 10px;'>
                <h3 class="font-bold">Who Are We?</h3>
              </div>
              <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                We are a group of ambitious Computer Science students from Cal State Fullerton who wish to put our
                Web Front-End Engineering knowledge and skills to help bring the world closer together---one awesome
                single person at a time.
              </h4>
              <div class="text-center">
                <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                  Our group comprises of the most awesome 5 people in the world you will meet:
                </h4>
                <h5 style='padding-left: 100px; padding-right: 100px;'>
                  Lana Amin
                </h5>
                <h5 style='padding-left: 100px; padding-right: 100px;'>
                  Hieu Nguyen
                </h5>
                <h5 style='padding-left: 100px; padding-right: 100px;'>
                  Thao Nguyen
                </h5>
                <h5 style='padding-left: 100px; padding-right: 100px;'>
                  Aryan Rouhani
                </h5>
                <h5 style='padding-left: 100px; padding-right: 100px;'>
                  Alan Yang
                </h5>
              </div>
              <hr class="hr-light">

              <div class="text-center"  style='padding-top: 10px;'>
                <h3 class="font-bold">Our Mission</h3>
              </div>
                <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                  On BobaMeetsChurros, you can find potential matches via your personality traits and interests.
                  Knowing how difficult it is to find the right one out there, we make it easier for you by listing
                  your potential matches based on the compatability of their profiles compared to yours. From there,
                  you can look through the matches' profile and choose to make the first move---sending a message
                  inviting them to boba or churros---or skip the dessert date and move on to other matches.
                </h4>
                <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                  We aim to make this site as simple and user-friendly as possible. So that your quest to find the
                  right one to share that lovely boba with is as simple as a few clicks on your browser every day.
                </h4>
              <hr class="hr-light">

              <div class="text-center"  style='padding-top: 10px;'>
                <h3 class="font-bold">What We Used To Create BobaMeetsChurros</h3>
              </div>
              <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                We used the <span class="white-text">Ember.js </span>client-side MVC framework to build our website.
              </h4>
              <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                For backend data store, we used <span class="white-text">Firebase </span>as the backend database and
                <span class="white-text">Emberfire </span>as the adapter for this project.
              </h4>
              <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                We also used <span class="white-text">Bootstrap </span>and
                <span class="white-text">Google Fonts </span>to help create the look for our website.
              </h4>
              <hr class="hr-light">

              <div class="text-center"  style='padding-top: 10px;'>
                <h3 class="font-bold">We Are Open Source!</h3>
              </div>
              <h4 class="font-bold" style='padding-left: 100px; padding-right: 100px;'>
                We believe that open-source makes the world a better place.
                You can access our site's source code at the following
                link:<a href="https://github.com/hsuehlungyang/cpsc473-project2">
                https://github.com/hsuehlungyang/cpsc473-project2</a>
              </h4>
            </div>


            <div class="text-center" style='padding-top: 15px'>
              {{#link-to 'index' }}<button class="btn btn-indigo" style='font-size: 20px;'>Great! Sign Me Up!</button>{{/link-to}}
              <hr class="hr-light mb-3 mt-4">
              <div class="inline-ul text-center d-flex justify-content-center">
                <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
