<style>
  @import url('https://fonts.googleapis.com/css?family=Satisfy');
  @import url('https://fonts.googleapis.com/css?family=Marck+Script');
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</style>
<section class="bg hm-gradient fill">
  <div class="full-bg-img fill">
    {{partial 'navbar'}}
    {{outlet}}
    </div>
</section>
<div class="container">
  <div class="row py-5">
    <!--Grid column-->
    <div class="col-md-12 text-center">
      <p>Copyright (c) 2017 Boba Meets Churros</p>
    </div>
  </div>
</div>
