    <div class="container-reg flex-center">
      <div class="flex align-items-center">

          <div class="text-center">
            <div class="white-text">
              <h1 class="h1 font-bold">Boba Meets Churros</h1>
              <h6>You're just one click away from meeting the boba of your life.</h6>
              <br>
            </div>
          </div>

          <div class="container-reg">
            <!--Form-->
            <div class="card">
              <div class="card-body">
                <!--Header-->
                <div class="text-center"  style='padding-top: 10px;'>
                  <h3 class="font-bold">Your Profile</h3>
                  <hr class="hr-light">
                </div>

                <!--Body-->

                <div class="md-form form-vertical col">
                <!--TODO: Load the following values from the database-->
                  <div class="text-center"  style='padding-top: 10px;'>
                    Your Name
                  </div>
                  <div class="text-center"  style='padding-top: 10px;'>
                    Your Gender
                  </div>
                  <div class="text-center"  style='padding-top: 10px;'>
                    Your Personality Type
                  </div>
                  <div class="text-center"  style='padding-top: 10px;'>
                    Your Personality Traits
                  </div>
                </div>


                <div class="text-center" style='padding-top: 15px'>
                  {{#link-to 'index' }}<button class="btn btn-indigo" style='font-size: 20px;'>Logout</button>{{/link-to}}
                  <hr class="hr-light mb-3 mt-4">
                  <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
