<div class="container flex-center">
  <div class="flex align-items-center">

    <div class="text-center">
        <h1 class="h1 font-bold">Register New User</h1>
        <h6>You're just one click away from meeting the boba of your life.</h6>
        <br>
    </div>

    <div class="container-reg">
      <!--Form-->
      <div class="card">
        <div class="card-body">
          <!--Header-->
          <div class="text-center">
            <h3 class="font-bold">Building Your Profile</h3>
          </div>

          <!--Body-->
          <div class="md-form form-horizontal row black-text" style='padding: 15px; font-size: 22px;'>
            <div class="col-xs-6 col-md-3">
              <label for="form3" class="active">Your Gender</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">
              <label class="container">Female
                {{input type="checkbox" name="gender" checked=isFemale}}
                <span class="checkmark"></span>
              </label>
              <label class="container">Male
                {{input type="checkbox" name="gender" checked=isMale}}
                <span class="checkmark"></span>
              </label>
              <label class="container">I'd Rather Not Say
              {{input type="checkbox" name="gender" checked=isUnknownGender}}
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="md-form form-horizontal row" style='padding: 15px; font-size: 22px;'>
            <div class="col-xs-6 col-md-3">
              <label for="form3" class="active">Personality Type</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">
              <label class="container">Extrovert
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Introvert
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Ambivert
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="md-form form-horizontal row" style='padding: 15px; font-size: 22px;'>
            <div class="col-xs-6 col-md-3">
              <label for="form3" class="active">Your Personality Traits
              (Please Select 4 That Best Describe You)</label>
            </div>
            <div class="col-xs-6 col-md-3">
              <label class="container">Adventurous
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Ambitious
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Bubbly
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Charismatic
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Clever
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Compasionate
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Confident
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Considerate
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Courteous
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Detail-Oriented
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-xs-6 col-md-3">
              <label class="container">Easy-Going
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Energetic
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Generous
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Humble
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Impatient
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Independent
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Loyal
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Observant
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Open-Minded
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Optimistic
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-xs-6 col-md-3">
              <label class="container">Organized
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Passionate
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Patient
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Philosophical
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Perfectionist
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Resourceful
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Romantic
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Suave
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Sweet
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Witty
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="text-center" style='padding: 15px; font-size: 22px;'>
            <button class="btn btn-indigo" {{action 'saveUser'}}>Continue</button>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
